@import "../../styles/var";
@import "../../styles/mixin";

.main-vis-wrap {
  position:relative;
  height:100vh;
  
  .next-info {
    position:absolute;
    bottom:0;
    left:calc(100% - 768px);
    width:528px;
    padding:40px 50px 40px 120px;
    color:#1a1a1d;
    background:#eee;

    &:before {
      @include virtualAB(53px, 0, 80px, 2px);
      background:$_pointColor;
    }

    .tit {
      font-size:30px;
      font-weight:bold;
      @include ellipsis(1);
    }
  }

  .left-util {
    position:absolute;
    bottom:240px;
    left:60px;
    transform:rotate(-90deg);
    z-index:1;

    .activeIdx {
      position:relative;
      font-weight:bold;
      color:#1a1a1d;

      &:after {
        @include virtualAB(10px, 145px, 60px, 1px);
        background:#1a1a1d;
      }
    }
  }
}

.main-vis {
  height:100%;
  
  &:before {
    @include virtualAB(0, 0, calc(100% - 768px), 100%);
    background:#d9e7e7;
    background:-moz-linear-gradient(left,  #d9e7e7 0%, #b4d3d3 100%);
    background:-webkit-linear-gradient(left,  #d9e7e7 0%,#b4d3d3 100%);
    background:linear-gradient(to right,  #d9e7e7 0%,#b4d3d3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e7e7', endColorstr='#b4d3d3',GradientType=1 );
  }

  .swiper-slide {
    padding:240px 120px 240px 235px;

    &:after {
      @include clear();
    }

    .txt-div {
      float:left;
      width:calc(100% - 648px);
      height:100%;
      padding:100px;
      background:#fff;

      .tit {
        position:relative;
        display:inline-block;
        max-width:100%;
        font-size:50px;
        font-weight:bold;
        color:#1a1a1d;
        @include ellipsis(1);

        &:after {
          @include virtualAB(auto, auto, 60px, 6px);
          bottom:0;
          right:0;
          background:$_pointColor;
        }
      }

      .txt {
        margin:20px 0 70px;
        @include ellipsis(1);
      }
    }

    .img-div {
      position:relative;
      float:left;
      width:648px;
      height:100%;
      overflow:hidden;

      img {
        @include positionAb(100%, 50%, 50%);
        transform:translate(-50%, -50%);
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    width:120px;
    height:76px;
    background:#fff url("../../assets/images/main-vis-arrow-icon.png") no-repeat center;

    &:after {
      display:none;
    }
  }
  .swiper-button-prev {
    top:auto;
    bottom:164px;
    left:auto;
    right:120px;
  }

  .swiper-button-next {
    top:auto;
    bottom:88px;
    left:auto;
    right:120px;
    transform:rotate(180deg);
  }
}

.main-sec {
  margin:120px 0;

  .title-div {
    margin-bottom:40px;
  }

  .sec-title {
    position:relative;
    display:inline-block;
    font-size:50px;
    color:#1a1a1d;
    
    &:after {
      @include virtualAB(auto, auto, 40px, 4px);
      bottom:0;
      right:0;
      background:#b4d3d3;
    }
  }

  &.notice-sec {
    .inner {
      position:relative;
    }

    .btn-wrap {
      @include positionAb(auto, 35px, auto);
      right:0;
      margin-top:0;
    }
  }
}