@import "../../styles/var";
@import "../../styles/mixin";

.login-div {
	width:600px;
	margin:0 auto 80px;

	.login-form {
		margin-bottom:20px;

		input {
			width:100%;
			margin-top:10px;

			&:first-child {
				margin-top:0;
			}
		}
	}

	.login-util {
		&::after {
			@include clear();
		}

		.chk-txt {
			float:left;
		}

		.find-div {
			float:right;

			a {
				position:relative;
				margin-right:8px;
				padding-right:10px;
				font-size:16px;

				&:last-child {
					margin-right:0;
					padding-right:0;

					&:after {
						display:none;
					}
				}

				&:after {
					@include virtualAB(10px, auto, 4px, 4px);
					right:0;
					background:$_pointColor;
				}

				&:hover {
					font-weight:bold;
					color:#6ababb;
				}
			}
		}
	}
}

@include mobile(){
	.login-div {
		width:92%;
		margin-bottom:40px;
	
		.login-util {
			.find-div {
				a {
					font-size:14px;
	
					&:after {
						top:8px;
						width:3px;
						height:3px;
					}
				}
			}
		}
	}
}

.join-div {
	& > .title {
		margin:100px 0 20px;
		font-size:25px;
		color:#1a1a1d;

		&:first-child {
			margin-top:0;
		}
	}
}

@include mobile(){
	.join-div {
		& > .title {
			margin:50px 0 10px;
			font-size:20px;
		}
	}
}