$_fontFamily:"IBMPlexSansKR-Regular", "맑은 고딕", "Malgun Gothic", sans-serif;
$_fontSize:18px;
$_fontSize-mobile:14px;
$_fontColor:#666;
$_fontWeight:400;
$_fontWeightM:500;
$_fontWeightB:700;
$_lineHeight:1.5;
$_placeHolderColor:#999;
$_pointColor:#b4d3d3;
$_letterSpacing:-0.02em;
$_letterSpacingL:-0.06em;
$breakpoint-desktop-wide: 1920px;
$breakpoint-desktop: 1600px;
$breakpoint-desktop-small: 1200px;
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-small: 325px;