@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import "./reset";

#wrap {
  position:relative;
  width:100%;
  overflow:hidden;
}

.inner {
  @include widthGuide();
}

#header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:40px 60px;
  transition:top 0.4s ease-out;
  z-index:11;

  &::after {
    @include clear();
  }

  &.hide {
    top:-130px;
  }

  &.bg-type {
    background:#fff;
    border-bottom:1px solid #e3eeee;
  }

  &.white-type {
    .logo {
      background-image:url("../assets/images/logo-w.png");
    }

    .menu-nav .gnb-btn span {
      background:#fff;
    }

    .left-util a {
      color:#fff;
    }

    .search-div {
      .search-btn {
        background-image:url("../assets/images/search-w-icon.png");
      }
      
      &.on {
        border-color:#fff;
        background:rgba(255, 255, 255, 0.8);

        .search-btn {
          background-image:url("../assets/images/search-icon.png");
        }
      }
    }
  }

  &.gnb-on {
    .left-util {
      a {
        color:#fff;
      }
    }

    &.hide {
      top:0;
    }
  }

  .logo {
    @include positionAb(150px, 35px, 50%);
    transform:translateX(-50%);
    background:url("../assets/images/logo.png") no-repeat center / 100%;
    @include textIndent();

    a {
      display:block;
    }
  }

  .menu-nav {
    float:left;
  
    .gnb-btn {
      position:relative;
      width:20px;
      height:42px;
      
      strong {
        display:block;
        height:0;
        @include textIndent();
      }
  
      span {
        @include positionAb(100%, 14px);
        height:2px;
        background-color:#333;
        border-radius:2px;
        transition-duration:500ms;
        transition:.3s cubic-bezier(.8, .5, .2, 1.4);
        
        &:nth-of-type(2) {
          top:20px;
        }
  
        &:nth-of-type(3) {
          top:auto;
          bottom:14px;
        }
      }
  
      &.on {
        span {
          background:#fff;
        
          &:nth-of-type(1) {
            top:20px;
            transform:rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity:0;
          }
          &:nth-of-type(3) {
            top:20px;
            transform:rotate(-45deg);
          }
        }
      }
    }
  
    .gnb {
      position:fixed;
      top:0;
      left:-100%;
      width:400px;
      height:100%;
      padding:300px 0 200px;
      background:rgba(106, 186, 187, 0.9);
      z-index:-1;
  
      &:before {
        content:"DISCOVER";
        display:block;
        max-width:720px;
        margin:0px 0px 30px 120px;
        font-size:14px;
        color:rgba(255,255,255,0.7);
      }
      
      li {
        max-width:720px;
        margin:10px 0px 10px 120px;
  
        a {
          font-size:35px;
          color:#fff;
        }
      }
    }
  }

  .left-util {
    float:left;
  
    a {
      display:inline-block;
      margin-left:55px;
      padding:8px 0 7px;
      font-weight:bold;
      color:#1a1a1d;
  
      &:first-child {
        margin-left:50px;
      }
    }
  }
  
  .search-div {
    float:right;
    width:auto;
    border:none;
  
    input[name="search-input"] {
      width:0;
      height:42px;
      border:none;
      background:none;
      opacity:0;
      transition-duration:500ms;
      transition:.6s cubic-bezier(.8, .5, .2, 1.4);
    }
    .search-btn {
      width:20px;
      height:42px;
      background:url("../assets/images/search-icon.png") no-repeat center;
      @include textIndent();
    }
  
    &.on {
      border:1px solid #b4d3d3;
  
      input[name="search-input"] {
        width:280px;
        opacity:1;
      }
  
      .search-btn {
        margin-right:20px;
      }
    }
  }
}

@include tablet() {
  #header {
    padding:20px 4%;

    &.hide {
      top:-85px;
    }

    .logo {
      top:13px;
    }

    .menu-nav {
      .gnb {
        padding:250px 0 200px;
      }
    }

    .left-util {
      a {
        margin-left:35px;
    
        &:first-child {
          margin-left:30px;
        }
      }
    }

    .search-div {
      input[name="search-input"] {
        height:42px;
      }
      .search-btn {
        width:20px;
        height:42px;
        background:url("../assets/images/search-icon.png") no-repeat center;
        @include textIndent();
      }
    
      &.on {
        border:1px solid #b4d3d3;
    
        input[name="search-input"] {
          width:200px;
          opacity:1;
        }
    
        .search-btn {
          margin-right:20px;
        }
      }
    }
  }
}

@include mobile() {
  #header {
    padding:10px 4%;

    &.hide {
      top:-65px;
    }  
    
    &.gnb-on {
      .left-util {
        display:block;
      }
    }

    .logo {
      top:10px;
      width:100px;
    }

    .menu-nav {
      .gnb-btn {
        position:relative;
        width:20px;
        height:42px;
        
        strong {
          display:block;
          height:0;
          @include textIndent();
        }
    
        span {
          @include positionAb(100%, 14px);
          height:2px;
          background-color:#333;
          border-radius:2px;
          transition-duration:500ms;
          transition:.3s cubic-bezier(.8, .5, .2, 1.4);
          
          &:nth-of-type(2) {
            top:20px;
          }
    
          &:nth-of-type(3) {
            top:auto;
            bottom:14px;
          }
        }
    
        &.on {
          span {
            background:#fff;
          
            &:nth-of-type(1) {
              top:20px;
              transform:rotate(45deg);
            }
            &:nth-of-type(2) {
              opacity:0;
            }
            &:nth-of-type(3) {
              top:20px;
              transform:rotate(-45deg);
            }
          }
        }
      }
    
      .gnb {
        width:190px;
        padding:125px 8% 100px;
    
        &:before {
          max-width:100%;
          margin:0px 0px 20px 0;
        }
        
        li {
          max-width:100%;
          margin:5px 0px;
    
          a {
            font-size:25px;
          }
        }
      }
    }
    
    .left-util {
      display:none;
      position:fixed;
      bottom:30px;
      left:0;
    }
  }
}

#cBody {
  position:relative;
  padding-bottom:80px;

  .sub-vis {
    position:relative;
    padding:280px 0 185px;
    margin-bottom:120px;

    .bg {
      @include positionAb(100%, 0, 0);
      height:100%;
      z-index:-1;

      @for $i from 1 to 6 {
        &.bg#{$i} {
          background:url("../assets/images/sub-bg#{$i}.png") no-repeat center / cover;
        }
      }
    }

    .sub-title {
      font-size:50px;
      color:#fff;
      @include widthGuide();
    }
  }  

  .content-tit {
    margin:100px 0 20px;
		font-size:25px;
		color:#1a1a1d;

		&:first-child {
			margin-top:0;
		}
  }
}

@include mobile(){
  #cBody {
    .sub-vis {
      padding:140px 0 90px;
      margin-bottom:60px;

      .sub-title {
        font-size:25px;
      }
    } 
    
    .content-tit {
      margin:50px 0 10px;
			font-size:20px;
    }
  }
}

.search-div {
  width:400px;
  border:1px solid $_pointColor;

  input[name="search-input"] {
    width:calc(100% - 30px);
    height:42px;
    border:none;
    background:none;
    transition-duration:500ms;
    transition:.6s cubic-bezier(.8, .5, .2, 1.4);
  }
  .search-btn {
    width:20px;
    height:42px;
    background:url("../assets/images/search-icon.png") no-repeat center;
    @include textIndent();
  }
}

@include mobile(){
  .search-div {
    width:180px;

    input[name="search-input"] {
      width:calc(100% - 20px);
      height:32px;
    }
    .search-btn {
      width:15px;
      height:32px;
      background-size:100%;
      @include textIndent();
    }
  }
}

.chk-txt {
  position:relative;

  input[type="checkbox"] {
    display:none;

    &:checked + label:after {
      background:$_pointColor url("../assets/images/check-icon.png") no-repeat center / 100%; 
    }
  }

  label {
    position:relative;
    display:inline-block;
    padding-left:30px;
    font-size:16px;
    line-height:20px;
    vertical-align:top;

    &:after {
      @include virtualAB(0, 0, 20px, 20px);
      border:1px solid #e5e5e5;
      background:#fff;
    }
  }
}

.radio-txt {
  position:relative;

  input[type="radio"] {
    display:none;

    &:checked + label:before {
      opacity:1;
      z-index:1;
    }
  }

  label {
    position:relative;
    display:inline-block;
    padding-left:30px;
    font-size:16px;
    line-height:20px;

    &:before {
      @include virtualAB(8px, 8px, 5px, 5px);
      background:$_pointColor;
      opacity:0;
    }

    &:after {
      @include virtualAB(0, 0, 20px, 20px);
      border:1px solid #e5e5e5;
      background:#fff;
    }
  }
}

@include mobile() {
  .chk-txt {
    label {
      padding-left:25px;
      font-size:14px;
      line-height:15px;

      &:after {
        width:15px;
        height:15px;
      }
    }
  }

  .radio-txt {
    label {
      padding-left:25px;
      font-size:14px;
      line-height:15px;

      &:before {
        top:7px;
        left:7px;
        width:3px;
        height:3px;
      }

      &:after {
        width:15px;
        height:15px;
      }
    }
  }
}

.btn-wrap {
  margin-top:60px;
  text-align:center;

  & > * {
    margin-right:10px;
    vertical-align:top;

    &:last-child {
      margin-right:0;
    }
  }
}

.tab-btn {
  a, button {
    display:inline-block;
    margin-right:60px;
    padding-bottom:5px;
    color:#1a1a1d;

    &:last-child {
      margin-right:0;
    }

    &.active {
      font-weight:bold;
      border-bottom:2px solid #1a1a1d;
    }
  }
}

.blue-btn {
  display:inline-block;
  min-width:260px;
  height:60px;
  font-weight:bold;
  color:#fff;
  line-height:60px;
  background:$_pointColor;
  text-align:center;

  &.sm {
    min-width:130px;
    height:50px;
    font-size:16px;
    line-height:50px;
  }

  &.x-sm {
    min-width:100px;
    height:42px;
    font-size:14px;
    line-height:42px;
  }
}

.white-btn {
  display:inline-block;
  min-width:260px;
  height:60px;
  font-weight:bold;
  color:#6ababb;
  line-height:60px;
  background:#fff;
  border:1px solid $_pointColor;
  text-align:center;

  &.sm {
    min-width:130px;
    height:50px;
    font-size:16px;
    line-height:50px;
  }

  &.x-sm {
    min-width:100px;
    height:42px;
    font-size:14px;
    line-height:42px;
  }
}

.txt-more-btn {
  display:inline-block;
  padding-right:0;
  transition:all 0.3s ease-out;

  &:hover {
    padding-right:30px;
    color:#6ababb;

    &:after {
      @include virtualAB(5px, auto, 20px, 20px);
      right:0;
      border-radius:50%;
      background:#6ababb url("../assets/images/link-arrow-icon.png") no-repeat center / 25px;
    }
  }
}

.list-btn {
  button {
    display:inline-block;
    width:24px;
    height:24px;
    margin-left:50px;
    opacity:0.4;
    @include textIndent();

    &.active {
      opacity:1;
    }

    &.card-list-btn {
      background:url("../assets/images/list-icon1.png") no-repeat center;
    }
    &.board-list-btn {
      background:url("../assets/images/list-icon2.png") no-repeat center;
    }
  }
}

@include tablet() {
  .blue-btn {
    min-width:180px;
    padding:0 30px;
    height:50px;
    line-height:50px;
  }

  .white-btn {
    min-width:180px;
    padding:0 30px;
    height:50px;
    line-height:50px;
  }

  .txt-more-btn {
    min-width:auto;
  }
}

@include mobile() {
  .btn-wrap {
    margin-top:30px;
  }
  
  .tab-btn {
    a, button {
      margin-right:15px;
    }
  }

  .blue-btn {
    min-width:130px;
    padding:0 20px;
    height:40px;
    line-height:40px;

    &.sm {
      min-width:65px;
      height:35px;
      font-size:14px;
      line-height:35px;
    }
  }
  
  .white-btn {
    min-width:130px;
    padding:0 20px;
    height:40px;
    line-height:40px;

    &.sm {
      min-width:65px;
      height:35px;
      font-size:14px;
      line-height:35px;
    }
  }
  
  .list-btn {
    button {
      width:20px;
      height:20px;
      margin-left:10px;
      background-size:100%;
  
      &.card-list-btn {
        background-size:15px;
      }
      &.board-list-btn {
        background-size:15px;
      }
    }
  }
}

.list-top {
  margin-bottom:20px;

  &::after {
    @include clear();
  }

  .left-div {
    float:left;
  }

  .right-div {
    float:right;
  }

  .total {
    font-weight:bold;
    color:#1a1a1d;
  }
}

@include mobile(){
  .list-top {
    margin-bottom:10px;
  }
}

.list {
  &::after {
    @include clear();
  }

  li {
    position:relative;
    float:left;

    a {
      display:block;
      height:100%;
    }
  }

  .img-div {
    position:relative;
    float:left;
    overflow:hidden;
    z-index:-1;

    img {
      @include positionAb(100%, 50%, 50%);
      transform:translate(-50%, -50%);
    }
  }

  .txt-div {
    .tit {
      font-size:25px;
      font-weight:bold;
    }
  }

  &.board-type {
    li {
      width:calc(100% / 3);
      height:200px;
      margin-top:20px;

      &:nth-child(-n+2) {
        margin-top:0;
      }

      a:hover {
        .txt-div .tit {
          color:#6ababb;
        }
      }
    }

    .img-div {
      width:250px;
      height:100%;
    }


    .txt-div {
      float:left;
      width:calc(100% - 250px);
      padding:0 30px;

      .tit {
        color:#1a1a1d;
        @include ellipsis(2);
      }

      .txt {
        margin-top:15px;
        color:rgba(0, 0, 0, 0.4);
        @include ellipsis(4);
      }
    }
  }

  &.card-type {
    li {
      width:calc(100% / 4);
      height:460px;

      a {
        &::before {
          @include virtualAB(0, 0, 100%, 100%);
          background:rgba(0, 0, 0, 0.7);
          opacity:0;
          transition:opacity 0.4s ease-out;
        }

        &::after {
          @include virtualAB(20px, auto, 55px, 55px);
          right:20px;
          border-radius:50%;
          background:#b4d3d3 url("../assets/images/link-arrow-icon.png") no-repeat center / 100%;
          opacity:0;
          transition:opacity 0.4s ease-out;
        }

        &:hover {
          &::before, &::after  {
            opacity:1;
          }
          
          .txt-div > p {
            left:0;
            opacity:1;
          }
        }
      }
    }
    
    .img-div {
      width:100%;
      height:100%;
    }

    .txt-div {
      @include positionAb(100%, auto, 0);
      bottom:45px;
      padding:0 30px;
      
      & > p {
        position:relative;
        left:100px;
        opacity:0;
        text-align:center;
        transition:all 0.4s ease-out;
        z-index:1;
      }

      .tit {
        color:#fff;
        @include ellipsis(1);
      }

      .txt {
        color:rgba(255,255,255,0.4);
        transition-delay:0.1s;
        @include ellipsis(2);
      }
    }
  }

  &.text-type {
    li {
      width:calc((100% - 120px) / 4);
      height:360px;
      margin:40px 40px 0 0;
      border:1px solid $_pointColor;

      &:nth-child(4n){
        margin-right:0;
      }

      &:nth-child(-n+4){
        margin-top:0;
      }

      a {
        padding:30px;

        &:hover {
          @include gradientStyle();

          .txt-div {
            .tit, .txt, .date {
              color:#fff;
            }
          }
        }
      }
    }

    .txt-div {
      .tit {
        @include ellipsis(2);
        color:#1a1a1d;
      }

      .txt {
        margin-top:20px;
        @include ellipsis(5);
        
        
        pre {
          font-size:$_fontSize;
          font-weight:$_fontWeight;
          font-family:$_fontFamily;
          background:none;
          white-space:pre-wrap;
        }
      }

      .date {
        @include positionAb(auto, auto, 30px);
        bottom:30px;
        font-size:16px;
        color:#999;
      }
    }
  }
}

@include desktop(){
  .list {
    &.board-type {
      li {
        width:50%;

        &:nth-child(-n+2) {
          margin-top:0;
        }
      }
    }

    &.card-type {
      li {
        width:calc(100% / 3);
      }
    }

    &.text-type {
      li {
        width:calc((100% - 60px) / 3);
        margin:30px 30px 0 0;

        &:nth-child(4n){
          margin-right:30px;
        }
  
        &:nth-child(-n+4){
          margin-top:30px;
        }

        &:nth-child(3n) {
          margin-right:0;
        }

        &:nth-child(-n+3){
          margin-top:0;
        }
      }
    }
  }
}

@include tablet(){
  .list {
    &.board-type {
      li {
        width:100%;
        height:200px;
        margin-top:20px;

        &:nth-child(-n+2) {
          margin-top:20px;
        }

        &:first-child {
          margin-top:0;
        }
      }
    }

    &.card-type {
      li {
        width:50%;
      }
    }

    &.text-type {
      li {
        width:calc((100% - 20px) / 2);
        height:360px;
        margin:20px 20px 0 0;
        border:1px solid $_pointColor;
        
        &:nth-child(-n+3), &:nth-child(-n+4) {
          margin-top:20px;
        }

        &:nth-child(3n), &:nth-child(4n) {
          margin-right:20px;
        }

        &:nth-child(-n+2) {
          margin-top:0;
        }

        &:nth-child(even) {
          margin-right:0;
        }

        a {
          padding:30px;

          &:hover {
            @include gradientStyle();

            .txt-div {
              .tit, .txt, .date {
                color:#fff;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile(){
  .list {
    .txt-div {
      .tit {
        font-size:20px;
      }
    }
  
    &.board-type {
      li {
        height:150px;
      }
      
      .img-div {
        width:150px;
      }

      .txt-div {
        width:calc(100% - 150px);
        padding:5px 15px;

        .tit {
          @include ellipsis(2);
        }

        .txt {
          margin-top:15px;
          color:rgba(0, 0, 0, 0.4);
          @include ellipsis(3);
        }
      }
    }

    &.card-type {
      li {
        height:230px;
      }
    }

    &.text-type {
      li {
        width:100%;
        height:230px;
        margin-right:0;
        margin-top:20px;
        
        &:nth-child(-n+2) {
          margin-top:20px;
        }

        &:first-child {
          margin-top:0;
        }

        a {
          padding:15px;
        }
      }

      .txt-div {
        .txt {
          max-height:86px;
          margin-top:10px;
          @include ellipsis(3);

          pre {
            font-size:16px;
          }
        }

        .date {
          left:15px;
          bottom:15px;
          font-size:14px;
        }
      }
    }
  }
}

.accordion-list {
  border-top:1px solid #e5e5e5;

  li {
    border-bottom:1px solid #e5e5e5;
    background:#fff;

    .accordion-btn {
      position:relative;
      display:block;
      width:100%;
      padding:30px 30px 30px 60px;
      font-size:20px;
      font-weight:bold;
      color:#1a1a1d;
      text-align:left;
      white-space:normal;
      
      &:before , &:after {
        @include virtualAB(50%, 20px, 20px, 2px);
        background:#1a1a1d;
        transform:translateY(-50%);
      }

      &:after {
        transform:rotate(90deg);
        transition:all 0.3s ease;
        opacity:1;
      }
    }

    .content-div {
      display:none;
      padding:0 60px 30px;
      max-height:400px;
      overflow-y:auto;

      pre {
        font-family:$_fontFamily;
        white-space:pre-wrap;
      }
    }

    &.active {
      background:#f5f5f5;

      .accordion-btn {
        &:after {
          transform:rotate(0);
          opacity:0;
        }
      }

      .content-div {
        display:block;
      }
    }
  }
}

@include mobile() {
  .accordion-list {
    li {
      .accordion-btn {
        padding:15px 15px 15px 30px;
        font-size:16px;
        
        &:before , &:after {
          left:10px;
          width:10px;
        }
      }

      .content-div {
        padding:0 30px 30px;
      }
    }
  }
}

.form-div	{
  border-top:1px solid #e5e5e5;

  .form-dl {
    border-bottom:1px solid #e5e5e5;
    &::after {
      @include clear();
    }

    dt {
      float:left;
      width:200px;
      padding:10px 25px;
      color:#1a1a1d;
      line-height:50px;

      .required {
        color:red;
      }
    }

    dd {
      float:left;
      width:calc(100% - 200px);
      padding:10px;

      .blue-btn {
        margin-left:20px;
      }

      .radio-txt {
        display:inline-block;
        margin-right:20px;
        line-height:50px;
      }

      .info-txt {
        margin-top:10px;
        font-size:14px;
        color:#999;

        &.success {
          color:#6ababb;
        }

        &.error {
          color:#f95858;
        }
      }
    }
  }
}

@include mobile(){
  .form-div	{
    .form-dl {
      dt {
        float:none;
        width:100%;
        padding:10px 0;
        line-height:1.5;
      }

      dd {
        float:none;
        width:100%;
        padding:0 0 10px;

        input {
          width:100%;
        }

        .blue-btn {
          margin-left:0;
          margin-top:10px;
        }

        .radio-txt {
          line-height:1.3;
        }

        .info-txt {
          font-size:12px;
        }
      }
    }
  }
}

.table-div {
  border-top:2px solid #e5e5e5;

  table {
    th, td {
      padding:10px 20px;
      border-bottom:1px solid #e5e5e5;
      text-align:center;
    }

    thead {
      th {		
        background:#f5f5f5;
      }
    }

    tbody {
      td:last-child {
        text-align:left;
      }
    }
  }
}

.no-data {
  position:relative;
  margin:100px 0;
  padding-top:120px;
  font-size:20px;
  text-align:center;

  &:before {
    @include virtualAB(0, 50%, 100px, 100px);
    transform:translateX(-50%);
    border-radius:50%;
    background:$_pointColor url("../assets/images/no-icon.png") no-repeat center / 50px;
  }
}

@include mobile(){
  .no-data {
    margin:50px 0;
    padding-top:60px;
    font-size:14px;

    &:before {
      width:50px;
      height:50px;
      background-size:25px;
    }
  }
}

.modal-pop {
  position:fixed;
  top:0; 
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:12;

  .modal-inner{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:600px;
    background:#fff;
  }

  .modal-head {
    padding:30px;
    border-bottom:1px solid #e5e5e5;

    .title {
      font-size:22px;
      font-weight:bold;
      color:#1a1a1d;
    }
  }

  .modal-body {
    max-height:450px;
    padding:30px;
    overflow-y:auto;

    .form-div .form-dl dt {
      width:100px;
      padding:10px;
    }
  }

  .close-btn {
    @include positionAb(25px, -40px, auto, 0);
    @include textIndent;
    height:25px;
    background:url("../assets/images/close-icon-w.png") no-repeat center / 100%;
  }
}

@include mobile(){
  .modal-pop {
    .modal-inner{
      top:0;
      left:0;
      transform:translate(0, 0);
      width:100%;
      height:100%;
    }

    .modal-head {
      padding:15px;

      .title {
        font-size:18px;
      }
    }

    .modal-body {
      max-height:calc(100% - 58px);
      padding:15px;

      .form-div .form-dl dt {
        width:100%;
        padding:10px 0;
      }
    }

    .close-btn {
      top:18px;
      right:15px;
      width:20px;
      height:20px;
      background-image:url("../assets/images/close-icon-b.png");
    }
  }
}

#footer {
  padding:40px 60px;
  border-top:1px solid #e3eeee;

  .logo {
    width:100px;
    height:50px;
    background:url("../assets/images/logo.png") no-repeat center / 100%;
    @include textIndent();
  }

  .copyright {
    margin-top:20px;
    font-size:14px;
  }
}

@include tablet(){
  #footer {
    padding:20px 4%;

    .logo {
      width:70px;
      height:20px;
    }

    .copyright {
      font-size:12px;
    }
  }
}

.quick-div {
  position:fixed;
  bottom:60px;
  right:30px;
  z-index:10;

  &.active{
    z-index:20;

    &:before {
      @include virtualIB(100%, 100%);
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
    }

    .quick-btn {
      border:1px solid #6ababb;
      background:#fff url("../assets/images/quick-plus-b-icon.png") no-repeat center / 100%;
      transform:rotate(45deg);
    }

    .quick-menu {
      left:0;
      opacity:1;

      a {
        display:block;
      }
    }
  }
  
  .quick-btn {
    display:block;
    width:60px;
    height:60px;
    border-radius:50%;
    background:url("../assets/images/quick-plus-icon.png") no-repeat center / 100%;
    @include textIndent();
    transition:all 0.3s ease-out;
  }

  .quick-menu {
    @include positionAb(100%, auto, 20px);
    bottom:80px;
    opacity:0;
    transition:all 0.3s ease-out;

    a {
      position:relative;
      display:none;
      margin-top:10px;
      text-align:center;

      span {
        display:inline-block;
        @include positionAb(70px, 0, auto, 80px);
        font-weight:bold;
        color:#fff;
        line-height:50px;
        text-align:right;
      }

      $quicks:(pick, notice, faq);
      @each $quick in $quicks {
        &.#{$quick}-link:after {
          @include virtualIB(50px, 50px);
          background:url("../assets/images/quick-#{$quick}-icon.png"), #6ababb; 
          background:-moz-linear-gradient(-45deg,  #6ababb 0%, #7ec4fc 100%), url("../assets/images/quick-#{$quick}-icon.png"); 
          background:-webkit-linear-gradient(-45deg,  #6ababb 0%,#7ec4fc 100%), url("../assets/images/quick-#{$quick}-icon.png"); 
          background:url("../assets/images/quick-#{$quick}-icon.png"), linear-gradient(135deg,  #6ababb 0%,#7ec4fc 100%); 
          background-repeat:no-repeat, no-repeat;
          background-position:center, 0 0;
          background-size:30px auto, 100%;
          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ababb', endColorstr='#7db9e8',GradientType=0 );  
          border-radius:50%;
        }
      }
    }
  }
}

.top-btn {
  position:fixed;
  bottom:0;
  right:25px;
  width:70px;
  height:40px;
  margin-top:10px;
  background:url("../assets/images/quick-top-icon.png") no-repeat center / 100%;
  @include textIndent();
}

@include mobile() {
  .quick-div {
    right:15px;

    .quick-btn {
      width:40px;
      height:40px;
    }

    .quick-menu {
      bottom:50px;

      a {
        margin-top:5px;

        span {
          right:50px;
          line-height:40px;
        }

        $quicks:(pick, notice, faq);
        @each $quick in $quicks {
          &.#{$quick}-link:after {
            @include virtualIB(40pxpx, 50px);
            width:35px;
            height:35px;
            background-size:20px auto, 100%;
          }
        }
      }
    }
  }

  .top-btn {
    right:10px;
    width:50px;
    height:30px;
  }
}
