@import "../../styles/var";
@import "../../styles/mixin";

.detail-vis {
	position:relative;
	width:100%;
	height:100vh;
	padding:150px 0 100px;
	overflow:hidden;

	&:before {
		@include virtualAB(0, auto, 480px, calc(100% - 260px));
		right:0;
		background:#dceded;
	}

	&:after {
		@include virtualAB(auto, 0, 50%, 50%);
		bottom:0;
		background:rgba(220, 237, 237, 0.9);
	}

	.inner {
		position:relative;
		height:100%;

		&:after {
			@include clear();
		}
	}

	.img-div {
		position:relative;
		float:right;
		width:70%;
		height:100%;

		img {
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}

	.txt-div {
		@include positionAb(40%, calc(50% + 50px), 120px);
		z-index:1;

		.tit {
			margin-bottom:20px;
			font-size:50px;
			font-weight:bold;
			color:#1a1a1d;
		}
	}
}

@include desktop(){
	.detail-vis {
		.txt-div {
			left:0;
		}
	}
}

@include tablet(){
	.detail-vis {
		height:auto;
		padding:100px 0 50px;

		.img-div {
			height:400px;
		}
	
		.txt-div {
			top:calc(50% + 20px);
			left:4%;

			.tit {
				font-size:35px;
			}
		}
	}
}

@include mobile(){
	.detail-vis {
		&:before {
			width:40%;
			height:calc(100% - 130px);
		}

		&:after {
			width:55%;
		}

		.img-div {
			height:200px;
		}

		.txt-div {
			left:0;

			.tit {
				margin-bottom:10px;
				font-size:25px;
			}
		}
		.txt-div {
			top:calc(50% + 20px);
			left:4%;
			width:50%;

			.tit {
				font-size:20px;
			}
		}
	}
}

.detail-info {
	margin-top:120px;
	width:100%;
	display:flex;
	flex-wrap:nowrap;
	align-items:center;

	&::after {
		@include clear();
	}

	.img-div {
		width:45%;
		img {
			width:100%;
		}
	}

	.info-div {
		width:55%;
		padding-left:5%;
		color:#1a1a1d;

		.tit {
			margin-bottom:20px;
			font-size:30px;
			font-weight:bold;
			word-break:keep-all;
		}
		
		.use-info {
			margin-top:30px;

			li {
				position:relative;
				padding-left:100px;
				margin-top:20px;
				
				.bold-txt {
					@include positionAb(auto, 0, 0);
					min-width:80px;
					margin-right:20px;	
				}
			}
		}
	}
}

@include tablet(){
	.detail-info {
		display:block;
		width:75%;
		margin:60px auto 0;

		.img-div {
			width:100%;
		}

		.info-div {
			width:100%;
			padding-left:0;
			margin-top:40px;
		}
	}
}

@include mobile(){
	.detail-info {
		width:90%;
		margin-top:30px;

		.info-div {
			margin-top:20px;

			.tit {
				margin-bottom:10px;
				font-size:20px;
			}
			
			.use-info {
				margin-top:15px;

				li {
					padding-left:80px;
					margin-top:10px;
					
					.bold-txt {
						min-width:70px;
						margin-right:10px;	
					}
				}
			}
		}
	}
}

.local-map {
	position:relative;
	margin-top:200px;

	.map-addr {
		@include positionAb(auto, 0, auto, 0);
		padding:5px 10px;
		font-weight:600;
		color:#1a1a1d;
		background:rgba(255,255,255,0.8);
		z-index:1;
	}

	.map-div {
		position:relative;
		height:50vh;
		background:rgba(220, 237, 237, 0.5);
		z-index:0;
	}
}

@include mobile(){
	.local-map {
		margin-top:100px;
	}
}