@import "../../styles/var";
@import "../../styles/mixin";

.intro-div {
	position:relative;

	.audio-div {
		position:fixed;
		top:150px;
		right:120px;
		z-index:2;

		.audio-btn {
			width:40px;
			height:40px;
			background:url("../../assets/images/no-sound-icon.png") no-repeat center / 100%;
			@include textIndent();

			&.play {
				background-image:url("../../assets/images/sound-icon.gif");
			}
		}
	}

	.sec-div {
		position:relative;
		min-height:100vh;
		padding-bottom:250px;
		font-size:22px;
		overflow:hidden;

		.bg {
			@include positionAb(100%, 0, 0);
			height:100%;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			background-attachment:fixed;

			&::before {
				@include virtualAB(0, 0, 100%, 100%);
				background:rgba(0,0,0,0.5);
			}
		}
		
		@for $i from 2 to 5 {
			&.type#{$i} .bg {
				background-image:url("../../assets/images/vangogh-bg#{$i}.jpg");
			}
		}

		.txt-area {
			position:relative;
			left:50%;
			padding-top:40vh;
			width:calc(50% - 350px);
		}

		.title-div {
			margin:150px 0 25px;
			color:#fff;

			&:first-child {
				margin-top:0;
			}

			p {
				position:relative;
				top:50px;
				opacity:0;
				color:rgba(255,255,255,0.8);
				transition:all 0.6s ease;
				transition-delay:0.3s;
				
				&.active {
					top:0;
					opacity:1;
				}
			}

			.tit {
				margin-bottom:10px;
				font-size:45px;
				font-weight:bold;
				color:rgba(255,255,255,1);
			}
		}

		.txt-div {
			color:#fff;
			word-break:keep-all;

			& > p {
				position:relative;
				top:50px;
				margin-bottom:20px;
				opacity:0;
				transition:all 0.6s ease;
				transition-delay:0.3s;

				&:last-child {
					margin-bottom:0;
				}

				&.active {
					top:0;
					opacity:1;
				}
			}
		}

		&.type1 {
			.bg {
				#canvasBg {
					@include positionAb(100%, 50%, 50%);
					height:100%;
					transform:translate(-50%, -50%);
					background:#014035 url("../../assets/images/vangogh-bg1-1.png") repeat center / 900px auto;
				}

				&::before {
					background:#014035;
					z-index:1;
					transition:all 1.2s ease; 
				}

				&::after {
					@include virtualAB(0, 0 , 100%, 100%);
					background:url("../../assets/images/vangogh-bg1.png") no-repeat 15% bottom / 600px auto;
					opacity:0;
					transition:all 0.6s ease;
					transition-delay:1.3s;
				}
			}

			.txt-area p {
				top:50px;
				opacity:0;
				transition:all 0.6s ease;
				transition-delay:1.6s;
			}

			&.active {
				.bg {
					&::before {
						width:0;
					}
					&::after {
						opacity:1;
					}
				}

				.txt-area p {
					top:0;
					opacity:1;
				}
			}
		}

		&.type2 .txt-area {
			left:55%;
		}

		&.type3 .txt-area {
			left:10%;
			text-align:right;
		}
	}
}

@include desktop(){
	.intro-div {
		.sec-div {
			.txt-area {
				width:calc(50% - 200px);
			}

			&.type1 {
				.bg {
					&::after {
						background-position:8% bottom;
					}
				}
			}
		}
	}
}

@include desktop-small(){
	.intro-div {
		.sec-div {
			padding-bottom:120px;
			font-size:20px;

			.txt-area {
				left:8%;
				padding-top:25vh;
				width:84%;
			}

			&.type1 {
				.bg {
					#canvasBg {
						background-size: 100% auto;
					}
	
					&::after {
						background-position:8% center;
						background-size:400px auto;
					}
				}

				.txt-area {
					left:50%;
					width:46%;
				}
			}

			&.type2 {
				.txt-area {
					left:8%;
					width:84%;
				}
			}
		}
	}
}

@include tablet(){
	.intro-div {
		.audio-div {
			top:85px;
			right:4%;
	
			.audio-btn {
				width:25px;
				height:25px;
			}
		}

		.sec-div {
			.txt-area {
				left:8%;
				width:84%;
			}
		}
	}
}

@include mobile(){
	.intro-div {
		.audio-div {
			top:65px;
		}

		.sec-div {
			font-size:15px;

			.bg {
				background-attachment: initial;
			}

			.title-div {
				.tit {
					font-size:25px;
				}
			}
			
			&.type1 {
				.bg {
					#canvasBg {
						background-size: 100% auto;
					}
	
					&::after {
						left:50%;
						width:100%;
						max-width:350px;
						background-position:center 60px;
						background-size:100% auto;
						transform:translateX(-50%);
					}
				}

				.txt-area {
					left:8%;
					width:84%;
					padding-top:520px;
				}
			}
		}
	}
}