@import "../../styles/var";
@import "../../styles/mixin";

.faq-div {
	input, textarea {
		width:100%,
	}

	textarea {
		height:500px;
	}

	.title-div {
		margin-bottom:80px;
		font-size:20px;
		color:#1a1a1d;
	}

	.list-div {
		.list-top{
			margin-top:20px;
			clear:both;

			.tab-btn {
				margin-top:10px;
			}	
		}
	}


	.accordion-list {
		li {
			.accordion-btn {
				padding-left:80px;

				&:before {
					@include virtualAB(24px, 30px, 20px, auto);
					transform:translateY(0);
					content:"Q";
					font-size:25px;
					color:$_pointColor;
					background:none;
				}
				
				&::after {
					display:none;
				}
			}

			.content-div {
				padding-left:80px;
			}
		}
	}
}

@include mobile(){
	.faq-div {
		textarea {
			height:250px;
		}

		.title-div {
			margin-bottom:40px;
			font-size:16px;
		}

		.list-div {
			.list-top{
				margin-top:10px;

				.tab-btn {
					margin-top:5px;
				}	
			}
		}

		.accordion-list {
			li {
				.accordion-btn {
					padding-left:30px;

					&:before {
						top:14px;
						width:15px;
						left:10px;
						font-size:16px;
					}
				}

				.content-div {
					padding-left:30px;
				}
			}
		}
	}
}