@import "../../styles/var";
@import "../../styles/mixin";

.faq-div {
	input, textarea {
		width:100%,
	}

	textarea {
		height:500px;
	}

	.title-div {
		margin-bottom:80px;
		font-size:20px;
		color:#1a1a1d;
	}

	.list-div {
		&::after{
			@include clear();
		}

		.tab-btn {
			float:left;
			margin-bottom:20px;
		}

		.search-div {
			float:right;
			margin-bottom:20px;
		}

		.list-top{
			margin-top:20px;
			clear:both;

			.total {
				margin-top:23px;
			}
		}
	}


	.accordion-list {
		li {
			.accordion-btn {
				padding-left:80px;

				&:before {
					@include virtualAB(24px, 30px, 20px, auto);
					transform:translateY(0);
					content:"Q";
					font-size:25px;
					color:$_pointColor;
					background:none;
				}
				
				&::after {
					display:none;
				}
			}

			.content-div {
				padding-left:80px;
			}
		}
	}

	.table-div {
		border-top:2px solid #e5e5e5;

		table {
			th, td {
				padding:10px 20px;
				border-bottom:1px solid #e5e5e5;
				text-align:center;
			}

			thead {
				th {		
					background:#f5f5f5;
				}

				.check, .num {
					width:80px;
				}

				.type {
					width:150px;
				}
			}

			tbody {
				td:last-child {
					text-align:left;
				}
			}
		}
	}
}