@import "../../styles/var";
@import "../../styles/mixin";

.view-div {
	.title-div {
		position:relative;
		padding:30px;
		background:#f5f5f5;

		.tit {
			font-size:30px;
			font-weight:bold;
			color: #1a1a1d;
		}

		.writer {
			margin-top:20px;
		}

		.date {
			@include positionAb(auto, auto, auto);
			bottom:30px;
			right:30px;
			font-size:16px;
			color:#999;
		}
	}	

	.txt-div {
		padding:60px 30px;

		.nodata {
			position:relative;
			margin:100px 0;
			padding-top:120px;
			font-size:20px;
			text-align:center;

			&:before {
				@include virtualAB(0, 50%, 100px, 100px);
				transform:translateX(-50%);
				border-radius:50%;
				background:$_pointColor url("../../assets/images/no-icon.png") no-repeat center / 50px;
			}
		}
	}
}

@include mobile(){
	.view-div {
		.title-div {
			padding:15px;

			.tit {
				font-size:18px;
			}

			.date {
				bottom:15px;
				right:15px;
				font-size:12px;
			}
		}	

		.txt-div {
			padding:30px 15px;

			.nodata {
				margin:50px 0;
				padding-top:60px;
				font-size:14px;

				&:before {
					width:50px;
					height:50px;
					background-size:25px;
				}
			}
		}
	}
}